body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f2f5;
    color: #333;
    display: flex;
    flex-direction: column;
}

#chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #1F8E44;
    padding: 15px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header h2 {
    margin: 0;
    font-size: 20px;
    color: #d7d7d7;
}

#messages {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.date-separator {
    position: relative;
    text-align: center;
    margin: 20px 0;
    color: #555;
    font-size: 14px;
}

.date-separator:before, .date-separator:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    border-top: 1px solid #ccc;
}

.date-separator:before {
    left: 0;
}

.date-separator:after {
    right: 0;
}

#messages li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    max-width: 60%;
    word-wrap: break-word;
    position: relative; /* For positioning delete button */
}

#messages li.self {
    align-self: flex-end;
}

#messages li.self .message-content {
    background-color: #1F8E44;
    color: white;
}

#messages li.other .message-content {
    background-color: #333;
    color: white;
}

.message-content {
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 100%;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1F8E44;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.timestamp {
    font-size: 12px;
    color: #ccc;
    margin-top: 5px;
    text-align: right;
}

.delete-menu {
    position: absolute;
    left: -70px; /* Position delete button to the left */
    display: none; /* Initially hidden */
}

.delete-menu button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-menu button:hover {
    background-color: darkred;
}

form {
    display: flex;
    padding: 10px;
    background-color: #f0f2f5;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #1F8E44;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #14532D;
}

span {
    color: #ffffff;
    font-weight: bold;
}

.avatar-container {
    display: flex;
    flex-direction: column; /* Mengatur elemen dalam kolom */
    align-items: center; /* Mengatur item di tengah */
}

.info-icon {
    cursor: pointer;
    margin-top: 5px; /* Memberikan jarak antara avatar dan ikon info */
}

.reply-icon {
    cursor: pointer;
    margin-top: 5px;
    display: inline-block;
}

.reply-icon svg {
    fill: #1F8E44;
    transition: fill 0.2s;
}

.reply-icon:hover svg {
    fill: #0c6b28;
}

#reply-preview {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    background-color: #e9ecef;
    padding: 5px;
    border-left: 5px solid #1F8E44;
    display: none; /* Hidden until a message is being replied to */
}
